http:
  routers:
    to-whoami-http-service:
      rule: "PathPrefix(`/`)"
      service: whoami-service
      middlewares:
        - "crowdsec-whoami"
      entryPoints:
        - web
  
  services:
    whoami-service:
      loadBalancer:
        servers:
        - url: "http://localhost:9000/"

  middlewares:
    crowdsec-whoami: 
      plugin:
        bouncer:
          enabled: true
          crowdseclapikey: whoami-demo
          updateintervalseconds: 60
          crowdsecmode: live
          loglevel: "DEBUG"
          crowdsecLapiScheme: https
          crowdsecLapiHost: localhost:8080
          crowdsecLapiTLSInsecureVerify: false
          crowdsecLapiTLSCertificateAuthorityFile: /etc/traefik/crowdsec-certs/inter.pem
          crowdsecLapiTLSCertificateBouncerFile: /etc/traefik/crowdsec-certs/bouncer.pem
          crowdsecLapiTLSCertificateBouncerKeyFile: /etc/traefik/crowdsec-certs/bouncer-key.pem
          
